@import "./RPGame/rpgame.css";
@import "./catmehappy/cat.css";
@import "./header.css";
@import "./introduction.css";
@import "./about.css";
@import "./scrollnavi.css";
@import "./memegenerator.css";
@import "./project.css";

*{
  margin:0;
  padding: 0;

}

:root{
  --clr-prime:  rgb(152, 239, 249);
  --clr-second:  rgb(241, 228, 228);
  --clr-bg: rgba(27, 26, 26, 0.7);
  --clr-shadow: rgba(27, 26, 26, 0.4);
  --clr-prime-light: lighten (var(--clr-prime));
  --headerHeight: 5rem;
  font-size: 10px;

}
body {
  width: 100%;
  overflow-x: hidden;
  background: var(--clr-bg);
  font-family: 'Montserrat', sans-serif;
}
.main,
#root{
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--clr-bg);
  box-sizing: border-box;
}
button{
  cursor: pointer;
}
hr{
  margin: 2rem 0 2rem 0;
  opacity: 0.5;
}
span{
  font-size: 2rem;
  font-style: italic;
  font-weight: 700;
}
.hidden{
  visibility: hidden;
}
.spinnerDiv{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  top:0;
  left: 0;
  width: 100%;
  height:300vh;
  font-size: 3rem;
  z-index: 9999;
  opacity: 1;
  transition: all 450ms ease-in;
}
.spinnerAnimation{
  animation: spin linear 2s infinite ;
}
@keyframes spin {
  0%{
    rotate:0
  }
  100%{
    rotate: 360deg
  }
}
#spinnerSpan{
  width: 80px;
  height: 80px;
  position: absolute;
  top:13%;
  left: 48%;
  border: 5px solid var(--clr-second);
  border-bottom: 5px solid var(--clr-prime);
  border-radius: 50%;
}

.spinnerLogo{
  position: absolute;
  top:50%;
  left: 50%;
  color:rgb(152, 239, 249);
  transform: translate(20px,25px);
  font-size: 3rem;
}
.container{
  padding-top: var(--headerHeight);
  width:80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  }

.btn:hover,
.list-item
{
  cursor: pointer;
}


.footer{
  width:100%;
  height: 3rem;
  margin-top: 2rem;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  color: var(--clr-second);
  background-color:  var(--clr-shadow);
  box-shadow: inset 0rem 0 0.5rem var(--clr-second)
}


@media screen and (max-width:390px){
  /*introduction*/

  .introduction{
    align-items: center;
  }
  .name{
    font-size: 40px;
  }
  .name-area{
    transform: translateX(-25px);
    gap:6rem;
    justify-content: center;
    align-items: center;
  }
  .name-area::before{
    font-size: 1.5rem;
  }
  /*about me*/
  
  .information-dark{
    position: static;
    font-size: 1rem;
    padding: 0.5rem;
    width: 100%;
  }
  .about{
    width: 100%;
    height: auto;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .icon-area{
    width: 100%;
    height: 300px;
    padding: 0.5rem;
    position: relative;
  }
  .icons{
    padding: 1rem;
    width: 90px;
    height: 90px;
  }
  .blink{
    position: absolute;
    top: 50%;
    right: -20px;
    margin: 0.5rem
  }
  /*projects*/

  .projects{
  
    transform: translateY(-30%);
    height: 65vh;
    width: 100%;
  }
  .project{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    height: 60vh;

  }
 .project-info,
 .project-description{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap:1rem
 }
 #next{
  right:-2rem;
 }
 #prev{
  left: -2rem;
 }
  /*navigation*/

  .scroll-nav-btn{
  padding: 0.75rem;
  }

}
@media screen and (min-width:381px) and (max-width:767px){
  /*introduction*/

  .introduction{
    align-items: center;
  }
  .name{
    font-size: 50px;
  }
  .name-area{
    gap:6rem;
    align-items: center;
  }
  .name-area::before{
    font-size: 1.5rem;
  }
  /*about me*/
  
  .information-dark{
    position: static;
    font-size: 1rem;
    padding: 0.5rem;
    width: 100%;
  }
  .about{
    width: 100%;
    height: auto;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .icon-area{
    width: 100%;
    height: 300px;
    padding: 0.5rem;
    position: relative;
  }
  .icons{
    padding: 1rem;
    width: 110px;
    height: 110px;
  }
  .blink{
    position: absolute;
    top: 50%;
    right: -20px;
    margin: 0.5rem
  }
  /*projects*/

  .projects{
    margin-top: 0;
    width: 100%;
  }
  .project{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    height: 60vh;
  }
 .project-info,
 .project-description{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap:1rem
 }
 #next{
  right:-2rem;
 }
 #prev{
  left: -2rem;
 }
  /*navigation*/

  .scroll-nav-btn{
  padding: 0.75rem;
  }

}
@media screen  and (min-width:381px) and (max-width:920px) and (max-height: 600px){
  .header{
    width: 100%;}

  .dropdown-icon{
    margin-left:2.5vw
  }
  .Meme-Generator::after{
   scale: 1.4
  }
  .about{
    position: relative;
  }
  #blink{
    position: absolute;
    right: -20px;
    margin: 0.5rem
  }
  .icons{
    padding: 1rem;
    width: 140px;
    height: 140px;
  }
  .information-dark{
    font-size: 1.2rem;
  }
  .project-img{
    width: 60%
  }
  .projects{
    margin-top: 0;
    width: 100%;
  }
}
@media screen and (min-width:581px) and (max-width: 767px){
  .content{
    align-items: center;

  }
  .header{
    width: 100vw;
  }
  .name-area{
    gap:6rem;
    align-items: center;
  }
  .name-area::before{
    font-size: 1.5rem;
  }
  .dark{
    position: static;
    font-size: 1.5rem;
    padding: 1rem;
    width: 100%;
    transform: inherit;
    margin:2rem auto
  }
  .about{
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .icon-area{
    width: 100%;
    padding: 0.5rem;
    position: relative;
    top:0;
    left:6px;

  }
  .icons{
    width: 100px;
    height: 100px;
  }
  
  .project{
    flex-direction: column;
    height:auto;
    width: 100%;
  }
  .project-info,
  .project-description{
    width: 100%;
  }
  .project-img-div{
    left:-55px
  }
  .scroll-nav-btn{
  padding: 0.75rem;
  }
}
@media screen and (min-width:768px) and (max-width: 1023px){
  .name-area{
    gap:6rem;
  }
  .about{
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .icon-area{
    width: 80%;
    padding: 0.5rem;
    position: relative;
    top:0;
    left:6px;
    flex-wrap: nowrap;
  }
  .icons{
    width: 10vw;
    height:10vw;
    margin: 1vw
  }
  .dark{
    position: static;
    font-size: 1.5rem;
    padding: 1rem;
    width: 80%;
    transform: inherit;
    margin:2rem auto
  }
  .blink{
    position:absolute;
    margin: 1.5rem
  }
  .project{
    width: 100%
  }
  .scroll-nav-btn{
    padding: 1rem;
    }
}

@media screen and (min-width: 1024px) and (max-width:1300px) and (min-height:340px) and (max-height:670px){
  .scroll-navigator-project{
    top: 45vh
  }
  .scroll-navigator-about{
    top: 30vh
  }
  .scroll-navigator-content{
    top: 15vh
  }
  .project{
    width: 100%
  }
  .icon-area{
    flex-wrap: nowrap;
  }
  .icons{
    min-width: 140px;
    height: auto
  }
  .scroll-nav-btn{
    padding: 1.75rem
  }
}
@media screen and (max-width:930px) and (max-height: 430px){
  .header{
    width: 100vw;
  }
  .introduction{
    margin-top: calc(var(--headerHeight)*2);
    justify-content: space-around;
    gap: 1rem;
  }
  .name-area{
    padding: 1rem;
  }
  .animatedName{
    margin:0;
    padding: 0;
  }
  .scroll-nav-btn{
    margin-top: calc(var(--headerHeight)/2);
  }
  .scroll-navigator-project{
    top: 40vh
  }
  .scroll-navigator-about{
    top: 25vh
  }
  .scroll-navigator-content{
    top: 10vh
  }
  .about{
    margin-top: 5rem;
  }
  .project{
    margin-top: 1rem;
    height: 60vh;
  }
  .project-info{
    font-style: italic;
    padding: 1rem;
  }
  .project-img{
    width: 150px;
    height: auto;
  }
  .rpg{
    height: 70vh;
  }
  .rpg-project{
    transform: translateY(-20%);
  }
  .character-card {
    height: 90%;
  }
  .MemeMain{
    max-height: 350px;
    transform: translateY(-20%);
  }
  .meme-image{
    width: 100%;
    max-height: 200px;
  }
  .meme-text{
    font-size: 1.5rem;
  }
  .catApp{
    width: 400px;
    height: 350px;
    
  }
  .catApp > * {
    padding:0;
    margin: 0
  }
}
